tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.font8
	{color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;}
.xl66
	{mso-style-parent:style0;
	color:white;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	background:#333333;
	mso-pattern:black none;}
.xl67
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:none;
	mso-diagonal-down:.5pt solid windowtext;}
.xl68
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	mso-number-format:"Short Date";
	text-align:left;}
.xl69
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	mso-number-format:0%;
	text-align:left;}
.xl70
	{mso-style-parent:style0;
	color:white;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	background:#333333;
	mso-pattern:black none;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	background:yellow;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	background:fuchsia;
	mso-pattern:black none;}
.xl73
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	background:black;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	background:yellow;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	background:fuchsia;
	mso-pattern:black none;}
